.product{
	text-align: center;
}
.product h2{
	margin: 0;
}
.product p{
	margin-top: 10px;
}
.product p:before{
	content: "\20B9";
	display: inline-block;
	font-weight: bold;
	padding-right: 10px;
}
.copy:before{
	content: "\00A9";
	display: inline-block;
	font-weight: bold;
	padding-right: 10px;
}
figure img, .image img{
	width: 100%
}
